{% extends 'base.html'%}
{%block title%}{{User.user_nick}}{%endblock%}
{%block content%}
<h2>Hi there,my nickname is {{User.user_nick}}</h2>
<h3>Some information about me:<br>{{User.user_information}}</h3>
<h3 >I am {{User.user_age}} years old</h3>
<h3>I am from {{User.user_town}} that situated in {{User.user_country}}</h3>
<hr>

{%if commen %}
{%for c in commen%}
<p>
    <strong>{{c.comment_author}}</strong>
    <p>{{c.comment_text}}</p>
<p>likes:{{c.comment_likes}}</p>
<form action="{%url 'like_change' User.id c.id %}" method="get">
    <input id="test" type="submit" value="&#128077;{{c.comment_likes}}" name="likes"></input>
</form>
<form action="{%url 'dislike_change' User.id c.id %}" method="get">
 <input type="submit" value="&#128078 {{c.comment_dislikes}}" name="likes"></input>
</form>
<p>disikes:{{c.comment_dislikes}}</p>
</p>
{%endfor%}
{%else%}
Мнений пока нет,стань первым
{%endif%}

<hr>
<form action="{%url 'leave_opinion' User.id%}" method="post">
    {% csrf_token %}
<input type="text" value="anonim" name="name"><br>
<textarea name='text'placeholder="Оставьте своё мнение об этом человеке" cols="50" rows="10">
</textarea><br>
    <button type="submit">Оставить комментарий</button>
</form>
{%endblock%}