{% extends "comment/bases.html" %}

{% block title %}Create an account{% endblock %}
{% block content %}
<p id="register_title">Напиши то,о чём думаешь </p>
<p id="register2">Или <a href="{%url 'login'%}" >войдите,</a> если вы уже зарегестрированы<p>
    <div id="register_form">
<p id="register_head">Зарегистрироваться</p>
<form  action="." method="post">
    {%if user_form.errors%}
    <div id="errors">{{user_form.errors}}</div>
    {%endif%}
    {% csrf_token %}
    <p class="text">Придумайте себе никнейм:</p>{{user_form.username}}
</br>
    <p class="text">Введите свою электорнную почту:</p>{{user_form.email}}</br>
<p class="text">Введите пароль:</p>{{user_form.password}}</br>
    <p class="text">Повторите пароль:</p>{{user_form.password2}}</br><br><br><br>
<input type="submit" value="Создать аккаунт" id="register_button">
</form>
</div>
<div class="box">
    <div class="top-text">
        <h1>Напиши то,о чём думаешь<br><span id="typing"></span></h1>
    </div>
</div>
{% endblock %}
Select  U.*,max(counter),tbl.idApp FROM (select count(*) as counter,idApp from Application_has_mobilePhone1 GROUP BY idmobilephone) as tbl,Application_has_mobilePhone1 A,User u,mobilephone
where u.iduser in (select mo.iduser from mobilephone mo where mo.idMobilePhone in (select AM.idMobilePhone from Application_has_mobilePhone1 AM WHERE AM.idApp=tbl.idApp));
SELECT DISTINCT M.*, MO.memoryStart - (SELECT SUM(A.MemoryQuantity) From application a WHERE A.idApp IN (SELECT AM.idApp From Application_has_mobilePhone1 AM))freememory FROM Model Mo,Application A,mobilephone M
WHERE M.number_model AND Mo.NumberModel IN
(SELECT M.number_model From MobilePhone M WHERE M.idMobilePhone IN (SELECT AM.idmobilePhone From Application_has_mobilePhone1 AM ));