{% extends 'main.html'%}
<style>
    .myclass{
        border-radius: 12px;
        height: 158px;
        width: 200px;
    }
</style>
{%block title%}{{User.users_nick}}{%endblock%}
{%block content%}
<ul class="navbar">
    <form id="navbarform" action="{%url 'main'%}">
        <input id="search" type="search" placeholder="Поиск" name="search">
        <input id="searchbutton" type="submit" value="Найти">
    </form>
    <div class="help">
        <li class="navigation"><a href="{%url 'main'%}">На главную</a></li>
        <li class="navigation"><a href="{%url 'about'%}">О проекте</a></li>
        <li class="navigation"><a href="{%url 'logout'%}">Выйти({{User.users_nick}})</a></li>
    </div>
</ul>
{%load humanize%}
{%load static%}
<div id="qw">
    <br><br><br>
<img id='image' src="{{ im.photo.url }}"/>
    <img id="imagebg2" src="{%static 'images/dym.png'%}">
    <img id="imagebg4" src="{%static 'images/dym.png'%}">
    <img id="imagebg3" src="{%static 'images/light.jpg'%}">

    <div id="info2">
        <p>Редактирование информации</p>
    </div>
<form method="post" action="" enctype="multipart/form-data">
    {%csrf_token%}
    {{i}}
    {%if not im%}
    {{form.as_p}}
    <input type="submit">
    {%endif%}
</form>
    {%if not uform%}
    <img id='i' src="{%static 'images/birk.png'%}">
    {%if infa%}
    <div id="infa">
    <p class="infa" id="Age">Возраст:{{infa.userAge}}</p><br><br><br>
    <p class="infa" id="Town">Город:{{infa.userTown}}</p><br><br><br><br><br>
    <p class="infa" id="Country">Страна:{{infa.userCountry}}</p><br><br><br><br>
    <p class="infa" id="Sex">Пол:{{infa.userSex}}</p><br><br>
    </div>
    {%else%}
    <div id="infa2">
    <p class="infa2" id="Age2">Возраст: не указан</p><br><br><br>
    <p class="infa2" id="Town2">Город: не указан</p><br><br><br>
    <p class="infa2" id="Country2">Страна: не указана</p><br><br><br>
    <p class="infa2" id="Sex2">Пол: не указан</p><br><br>
    </div>
    {%endif%}
    {%endif%}
    {%if uform%}
    <form action="{%url 'doedit' User.id%}" method="post">
        <div id="forma">
        <p class="form">Возраст: {{uform.userAge}}</p>
        <p class="form">Город: {{uform.userTown}}</p>
        <p class="form">Страна: {{uform.userCountry}}</p>
        <p class="form">Пол: {{uform.userSex}}</p>
            <input id="confirm" type="submit"  value="Подвердить">
        </div>
        {%csrf_token%}
    </form>
    {%else%}
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <a href="{%url 'edit' User.id%}" id="edit">Редактировать информацию</a>
    {%endif%}
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{%if im%}
<form method="post" action="{%url 'change' User.id%}" enctype="multipart/form-data">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" placeholder="Изменить" text="Изменить" value="Изменить">
</form>
{%endif%}
{%if not infa%}
<br><br><br><br><br>
{%endif%}
<hr>
{%if Commen %}
{%for c in Commen%}
<div id="com">
<p>
    {%for us in Users%}
        {%if c.comment_author == us.users_nick%}
            <p class="author">Автор : <a href="{%url 'prof' us.id%}">{{c.comment_author}}</a></p>
        {%endif%}
    {%endfor%}
    {%ifequal c.comment_author 'anonim'%}
        <p class="author">Автор : {{c.comment_author}}</p>
    {% endifequal %}
<p id="text">Текст : {{c.comment_text}}</p>
    <br>
    <p id="likes" class="like">&#128077;{{c.comment_likes}}</p>
    <p id="dislike" class="like">&#128078;{{c.comment_dislikes}}</p>
    <br>
    <p id="date">{{c.pub_date}}</p>
</p>
</div>
<br><br>
{%endfor%}
{%endif%}
{%endblock%}